<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta lang="es" />
	<meta description="Pagina personal de Eligio Yáñez Sánchez donde encontraras CV, noticias, intereses y contacto." />
	<meta name="Autor" content="Elyksir" />
	<title>Eligio YS</title>
	<link rel="stylesheet" type="text/css" href="../statics/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../statics/css/STYLES.CSS">
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:600' rel='stylesheet' type='text/css'"/>
</head>
<body>
	<nav>
		<ul>
			<li><a href="#CV">CV</a></li>
			<li><a href="#News">News</a></li>
			<li><a href="#Intereses">Intereses</a></li>
			<li><a href="#Contacto">Contacto</a></li>
			<li><a href="#MisRedes">Mis Redes</a></li>
		</ul>
	</nav>
	<header>
		<figure>
			<img src="../statics/img/perfil.jpg" alt="eligio" />
			<figcaption>
				<h1><a href="https://facebook.com/eligioy">Eligio Yáñez</a></h1>
			</figcaption>
		</figure>
	</header>
	<section id="CV">
			<h2>CV</h2>
			<article>
			<h3>Comunicación</h3>
			<figure>
				<img src="../statics/img/oratoria.jpg" alt="oratoria">
				<figcaption>
					<h4>Director Académico de Kulturando Oratoria (cursos de comunicación efectiva)</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<h3>SHCP</h3>
			<figure>
				<img src="../statics/img/shcp.jpg" alt="shcp">
				<figcaption>
					<h4>2do Nivel organizacional de la Coordinación Administrativa en Palacio Nacional (Secretaría de Hacienda y Crédito Público)</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<h3>DGDC</h3>
			<figure>
				<img src="../statics/img/dgdc.jpg" alt="dgdc">
				<figcaption>
					<h4>Anfitrión del área de salud y sexualidad en la Dirección General de Divulgación Científica (UNAM), pláticas y demostraciones a todas las edades</h4>
				</figcaption>
		</article>
		<article>
			<h3>Psic. Org.</h3>
			<figure>
				<img src="../statics/img/psic.gif" alt="psic">
				<figcaption>
					<h4>Diplomado por la UNAM en Psicología Organizacional</h4>
				</figcaption>
		</article>
		<article>
			<h3>WYC</h3>
			<figure>
				<img src="../statics/img/wyc.jpg" alt="wyc">
				<figcaption>
					<h4>Apoyo logítico de eventos para el Foro de Legislación Mundial Juvenil en la World Youth Conference</h4>
				</figcaption>
			</figure>
		</article>
		<p>
			<h5><a href"http://about.me/elyksir">About me</a></h5>
		</p>
	</section>
	<section id="News">
			<h2>News</h2>
			<article>
				<h3>Oscares2015</h3>
				<figure>
					<img src="../statics/img/oscares.jpg" alt="oscares">
					<figcaption>
						<h4>Conoce la las nominaciones</h4>
					</figcaption>
				</figure>
			</article>
			<article>
				<h3>Intensamente Pixar</h3>
				<figure>
					<img src="../statics/img/intensamente.jpg" alt="intensamente">
					<figcaption>
						<h4>Nuevo avance de la película de Pixar 2015</h4>
					</figcaption>
				</figure>
			</article>
			<article>
				<h3>Game of Thrones 5</h3>
				<figure>
					<img src="../statics/img/got5.jpg" alt="got5">
					<figcaption>
						<h4>Nuevo Trailer</h4>
					</figcaption>
				</figure>
			</article>
			<article>
				<h3>Better Call Saul</h3>
				<figure>
					<img src="../statics/img/saul.jpg" alt="saul">
					<figcaption>
						<h4>El estreno de este mes</h4>
					</figcaption>
				</figure>
			</article>
			<p>
				<h4><a href="">Noticias Anteriores</a></h4>
			</p>	
	</section>
	<section id="Intereses">
		<h2>Intereses</h2>
		<p>
			<h6>(Series, Cine y Tecnología)</h6>
		</p>
		<article>
			<figure>
				<img src="../statics/img/tog.jpg" alt="tog" />
				<figcaption>
					<h4>Parejas funcionalmente disfuncionales</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/td.jpg" alt="td"/>
				<figcaption>
					<h4>Detectives Existenciales</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/news.jpg" alt="news" />
				<figcaption>
					<h4>Ética informativa y productores de la Mancha</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/hotel.jpg" alt="hotel"/>
				<figcaption>
					<h4>Un crimen que resolver al estilo Anderson</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/boyhood.jpg" alt="boyhood" />
				<figcaption>
					<h4>Momentos que nos marcan a través del tiempo</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/whiplash.jpg" alt="whiplash" />
				<figcaption>
					<h4>¿Cuándo es suficiente la perfección?</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/devf.jpg" alt="devf" />
				<figcaption>
					<h4>La primer escuela de Hacking en México</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/civic.jpg" alt="civic" />
				<figcaption>
					<h4>Tecnología e innovación para la sociedad</h4>
				</figcaption>
			</figure>
		</article>
		<article>
			<figure>
				<img src="../statics/img/github.jpg" alt="github" />
				<figcaption>
					<h4>El Facebook de los Hackers</h4>
				</figcaption>
			</figure>
		</article>
		<p>
			<h5><a href="">Mis listas Top</a></h5>
		</p>
	</section>
	<section id="contacto">
		<article>
			<input>
		</article>
	</section>
	<footer id="MisRedes">
		<h2>Mis Redes</h2>
		<figure>
			<img src="../statics/img/iconos/fb1.jpg" alt="fb" />
		</figure>
		<figure>
			<img src="../statics/img/iconos/tw1.jpg" alt="tw" />
		</figure>
		<figure>
			<img src="../statics/img/iconos/in1.jpg" alt="in" />
		</figure>
		<figure>
			<img src="../statics/img/iconos/v1.jpg" alt="vine" />
		</figure>
		<figure>
			<img src="../statics/img/iconos/ig1.jpg" alt="ig" />
		</figure>
		<p>
			<h6>Personal web 2015 / Eligio-Dev.F</h6>
		</p>
	</footer>
</body>
</html>